{% extends 'enroll/base.html'%}
{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
	
	html {
  font-size: 92.5%; }
.a{
	text-decoration: none;
}

.row {
  max-width: 80rem;
  margin: 0 auto; 
}
.main-body{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}
.add{
    /* background-color: aqua; */
    display: flex;
    font-size: 1.2rem;
    font-weight: 300;
}
.greetmsg{
    /* max-width: 80%; */
   /* background-color: blue; */
    text-align: center;
    font-size: 1.5rem;
    font-weight: 350;


}
   
   </style>
{% endblock style %}
{% block content %}
{%load static%}
{% csrf_token %}
<div class="page-content">
    <div class="row" >
        <div class="col-md-5  main-body">
            <h2>Resume Analyser</h2>
            
            <p class="add">Our free AI-powered resume checker scores your resume on key criteria recruiters and hiring managers look for. Get actionable steps to revamp your resume and land more interviews.</p>
        </div>
        <div id="container" class="col-md-7">
            <canvas id="pie-chart"></canvas>        
        </div>
    </div>
    <div class="row mt-3"  >
        
            {% if totMarks < 20 %}
            <div class="card border-primary mb-3" >
                <div class="card-header"> 
                    <h4 class="greetmsg">Your resume scored {{totMarks}} out of 75.</h4>
                </div>
                <div class="card-body text-primary">
                    <p class="card-text">It seems like your resume scored poorly on key checks that hiring managers and resume screening software scan your resume for. But don't worry! With a few simple changes to your resume, you can increase your score by 20+ points.</p>
                </div>
              </div>
            {%elif totMarks >= 20 and totMarks < 40 %}
            <div class="card border-primary mb-3" >
                <div class="card-header text-primary"> 
                    <h4 class="greetmsg">Your resume scored {{totMarks}} out of 75.</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">It seems like your resume scored poorly on key checks that hiring managers and resume screening software scan your resume for. But don't worry! With a few simple changes to your resume, you can increase your score by 40+ points.</p>
                </div>
              </div>
            {%elif totMarks >= 40 and totMarks < 60 %}
            <div class="card border-primary mb-3" >
                <div class="card-header text-primary"> 
                    <h4 class="greetmsg">Your resume scored {{totMarks}} out of 75.</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">It seems like your resume scored poorly on key checks that hiring managers and resume screening software scan your resume for. But don't worry! With a few simple changes to your resume, you can increase your score by 60+ points.</p>
                </div>
              </div>
            {%elif totMarks >= 60 and totMarks < 80 %}
            <div class="card border-primary mb-3" >
                <div class="card-header text-primary"> 
                    <h4 class="greetmsg">Your resume scored {{totMarks}} out of 75.</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">It seems like your resume scored poorly on key checks that hiring managers and resume screening software scan your resume for. But don't worry! With a few simple changes to your resume, you can increase your score by 60+ points.</p>
                </div>
              </div>
            {%endif%}
            
        </div>
    </div>
    
    
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>
    
        var config = {
          type: 'pie',
          data: {
            datasets: [{
              data: {{data|safe}},
              backgroundColor: [
                '#696969', '#FF5733','#33FF33','#49FFE1','#FF499C'
              ],
              label: 'Scores'
            }],
            labels: {{labels|safe}}
          },
          options: {
            responsive: true
          }
        };
    
        window.onload = function() {
          var ctx = document.getElementById('pie-chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };
    
      </script>
</div>
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                    <div class="widget">
                        <img src="static/enroll/images/logo-white.png" width="180" class="m-b15" alt=""/>
                        <p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the..</p>
                        <div class="subscribe-form m-b20">
                            <form class="dzSubscribe" action="http://job-board.w3itexperts.com/xhtml/script/mailchamp.php" method="post">
                                <div class="dzSubscribeMsg"></div>
                                <div class="input-group">
                                    <input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Id" type="email">
                                    <span class="input-group-btn">
                                        <button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
                                    </span> 
                                </div>
                            </form>
                        </div>
                        <ul class="list-inline m-a0">
                            <li><a href="#" class="site-button white facebook circle "><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="site-button white google-plus circle "><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="site-button white linkedin circle "><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="site-button white instagram circle "><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="site-button white twitter circle "><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                        <ul class="list-2 list-line">
                            <li><a href="#">Privacy & Seurty</a></li>
                            <li><a href="#">Terms of Serice</a></li>
                            <li><a href="#">Communications</a></li>
                            <li><a href="#">Referral Terms</a></li>
                            <li><a href="#">Lending Licnses</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">For Employers</a></li>
                            <li><a href="#">Underwriting</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Lending Licnses</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                    <div class="widget border-0">
                        <h5 class="m-b30 text-white">Find Jobs</h5>
                        <ul class="list-2 w10 list-line">
                            <li><a href="#">US Jobs</a></li>
                            <li><a href="#">Canada Jobs</a></li>
                            <li><a href="#">UK Jobs</a></li>
                            <li><a href="#">Emplois en Fnce</a></li>
                            <li><a href="#">Jobs in Deuts</a></li>
                            <li><a href="#">Vacatures China</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom" style="bottom: 0%;">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 text-center"><span><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span></div>
            </div>
        </div>
    </div>
</footer>
{% endblock content %}