{% extends 'enroll/base.html'%}
{% block content %}
<div class="page-content">
	<!-- Section Banner -->
	<div class="dez-bnr-inr dez-bnr-inr-md overlay-black-dark" style="background-image:url(static/enroll/images/main-slider/slide1.jpg);">
			<div class="container">
				<div class="dez-bnr-inr-entry align-m text-white">
		  <div class=" job-search-form">
			<h2 class="text-center">The Easiest Way to Get Your New Job</h2>
			<h3>Find Jobs, Employment & Career Opportunities</h3>
		
		  </div>
		</div>
			</div>
		</div>
		<div class="section-full content-inner overlay-white-middle">
			<section id="about-us" class="about-us">
		<div class="container">
			<div class="row align-items-center m-b50">
				<div class="col-md-12 col-lg-6 m-b20">
					<h2 class="m-b5">About Us</h2>
					<h3 class="fw4">We create unique experiences</h3>
					<p class="m-b15">As in current situation there are number of students searching for jobs / colleges to start their educational path, one time or another we have always thought of getting into top colleges as said best colleges gives best placements.</p>
					<p class="m-b15">We have categorized our topic into the approach of helping students. Starting from getting admission into Engineering College to getting jobs. With more employment opportunities, we have seen tremendous growth in number of institutions. which offer professional courses across globe. One side, there are very well-established institutes where infrastructure, faculty profile and teaching facilities have established a niche, while on the other side, new institutes, continuously looking for recognition from government bodies on the basis of infrastructure only. Our proposed work can help in balancing the number of institutes at a location which are more promising in providing jobs to engineering graduates</p>
					<a href="#" class="site-button">Read More</a>
				</div>
				<div class="col-md-12 col-lg-6" style="left:8%">
					<img src="static/enroll/images/main-slider/company.png" alt=""/>
				</div>
			</div>
			</div>
			</section>
			</div>
			<div class="section-full content-inner-2 call-to-action overlay-black-dark text-center style2 bg-primary text-white active">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="m-b10">Make a Difference with Your Online Resume!</h2>
							<a href="/signup" class="site-button m-t20 outline outline-2 radius-xl">Create an Account</a>
						</div>
					</div>
				</div>
			</div>
	<!-- Section Banner END -->
		<!-- About Us -->
	<div class="section-full job-categories content-inner-2 bg-white" style="background-image:url(static/enroll/images/lines.png); background-position:bottom; background-repeat:no-repeat; background-size: 100%;">
		<section id="services" class="services">
		<div class="container">
		<div class="section-head text-center">
		  <h2 class="m-b5">Our Services</h2>
		  
		</div>
		<div class="row sp20">
			
		  <div class="col-lg-4 col-md-8 col-sm-6">
			<div class="icon-bx-wraper">
			  <div class="icon-content">
				<div class="icon-md text-primary m-b20"><i class="ti-location-pin"></i></div>
				<a href="/predict" class="dez-tilte">Search for Best College</a>
				<p class="m-a0"></p>
				<div class="rotate-icon"><i class="ti-location-pin"></i></div> 
			  </div>
			</div>				
		  </div>
		  <div class="col-lg-4 col-md-6 col-sm-6">
			<div class="icon-bx-wraper">
			  <div class="icon-content">
				<div class="icon-md text-primary m-b20"><i class="ti-wand"></i></div>
				<a href="/job_search" class="dez-tilte">Search for Best Job</a>
				<p class="m-a0"></p>
				<div class="rotate-icon"><i class="ti-wand"></i></div> 
			  </div>
			</div>
		  </div>
		  <div class="col-lg-4 col-md-6 col-sm-6">
			<div class="icon-bx-wraper">
			  <div class="icon-content">
				<div class="icon-md text-primary m-b20"><i class="ti-wallet"></i></div>
				<a href="/rsm_a" class="dez-tilte">Resume Analyser</a>
				<p class="m-a0"></p>
				<div class="rotate-icon"><i class="ti-wallet"></i></div> 
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  </section>
	</div>
	<div class="section-full p-tb70 overlay-black-dark text-white text-center bg-img-fix" style="background-image: url(static/enroll/images/background/bg4.jpg);">
		<section id="team" class="team">
		<div class="container">
			<div class="section-head text-center text-white">
				<h2 class="m-b5">Team</h2>
				<h5 class="fw4">Few words from team</h5>
			</div>
			<div class="blog-carousel-center owl-carousel owl-none">
				<div class="item">
					<div class="testimonial-5">
						<div class="testimonial-text">
							<p>Django Development & Ml programmer</p>
							<p>Mail:arbaaznakhwa54@gmail.com</p>

						</div>
						<div class="testimonial-detail clearfix">
							<div class="testimonial-pic radius shadow">
								<img src="static/enroll/images/testimonials/account.png" width="100" height="100" alt="">
							</div>
							<strong class="testimonial-name">Arbaaz Nakhwa</strong> 
							<span class="testimonial-position">Student</span> 
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-5">
						<div class="testimonial-text">
							<p>Django Development & Ml programmer</p>
							<p>Mail:obaidsayed743@gmail.com</p>	
						</div>
						<div class="testimonial-detail clearfix">
							<div class="testimonial-pic radius shadow">
								<img src="static/enroll/images/testimonials/account.png" width="100" height="100" alt="">
							</div>
							<strong class="testimonial-name">Obaid sayed</strong> 
							<span class="testimonial-position">Student</span> 
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-5">
						<div class="testimonial-text">
							<p>Django Development & Ml programmer</p>
							<p>Mail:sahilmulani101@gmail.com</p>			
						</div>
						<div class="testimonial-detail clearfix">
							<div class="testimonial-pic radius shadow">
								<img src="static/enroll/images/testimonials/account.png" width="100" height="100" alt="">
							</div>
							<strong class="testimonial-name">Sahil Mulani</strong> 
							<span class="testimonial-position">Student</span> 
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-5">
						<div class="testimonial-text">
							<p>Django Development & Ml programmer</p>
							<p>Mail: mazharsultankhan10@gmail.com</p>		
						</div>
						<div class="testimonial-detail clearfix">
							<div class="testimonial-pic radius shadow">
								<img src="static/enroll/images/testimonials/account.png" width="100" height="100" alt="">
							</div>
							<strong class="testimonial-name">Mazher Khan</strong> 
							<span class="testimonial-position">Student</span> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>
<!-- Our Latest Blog -->
<div class="section-full content-inner-2 overlay-white-middle" style="background-image:url(static/enroll/images/lines.png); background-position:bottom; background-repeat:no-repeat; background-size: 100%;">
	<section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2 class="site-button col-md-12">Contact Us</strong></h2>
          </div>
<br>
        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>Panvel, India</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>jobsearch5420@gmail.com</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>9324622223</p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form action="" method="POST">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" id="nm" name="nm" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" id="em" name="em" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="sb" name="sb" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="input-group">
                <textarea class="form-control" id="cm" name="cm" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <br>
              <div class="text-center"><button class="site-button whatsapp" type="submit" id="reg" name="reg">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
</div>
<!-- Our Latest Blog -->
  </div>
  	<!-- Footer -->
	  <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="static/enroll/images/logo-white.png" width="180" class="m-b15" alt=""/>
							<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the..</p>
                            <div class="subscribe-form m-b20">
								<form class="dzSubscribe" action="http://job-board.w3itexperts.com/xhtml/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Id" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
										</span> 
									</div>
								</form>
							</div>
							<ul class="list-inline m-a0">
								<li><a href="#" class="site-button white facebook circle "><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="site-button white google-plus circle "><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#" class="site-button white linkedin circle "><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="site-button white instagram circle "><i class="fa fa-instagram"></i></a></li>
								<li><a href="#" class="site-button white twitter circle "><i class="fa fa-twitter"></i></a></li>
							</ul>
                        </div>
                    </div>
					<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Frequently Asked Questions</h5>
                            <ul class="list-2 list-line">
                                <li><a href="#">Privacy & Seurty</a></li>
                                <li><a href="#">Terms of Serice</a></li>
                                <li><a href="#">Communications</a></li>
                                <li><a href="#">Referral Terms</a></li>
                                <li><a href="#">Lending Licnses</a></li>
								<li><a href="#">Support</a></li>
                                <li><a href="#">How It Works</a></li>
                                <li><a href="#">For Employers</a></li>
                                <li><a href="#">Underwriting</a></li>
                                <li><a href="#">Contact Us</a></li>
								<li><a href="#">Lending Licnses</a></li>
								<li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Find Jobs</h5>
                            <ul class="list-2 w10 list-line">
                                <li><a href="#">US Jobs</a></li>
                                <li><a href="#">Canada Jobs</a></li>
                                <li><a href="#">UK Jobs</a></li>
                                <li><a href="#">Emplois en Fnce</a></li>
                                <li><a href="#">Jobs in Deuts</a></li>
								<li><a href="#">Vacatures China</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom" style="bottom: 0%;">
            <div class="container">
               <div class="row">
                    <div class="col-lg-12 text-center"><span><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span></div>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}
