{% extends 'enroll/base.html'%}
{% block style %}
<style>

div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card{ 
	margin:15px;	
  border-radius: 15px;
  transition:0.5s;
  cursor:pointer;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
.card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i{  

  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
.row {
  max-width: 114rem;
  margin: 0 auto; }
  
	.Div{
			   display: none;
		   }
   
	.myDiv{
			   display: none;
		   }
   
   </style>
{% endblock style %}

{% block content %}



<div class="page-content">
	<!-- Section Banner -->
	<div class="dez-bnr-inr dez-bnr-inr-md" style="background-image:url(/static/enroll/images/main-slider/slide3.jpg);">
		<div class="container">
			<div class="dez-bnr-inr-entry align-m text-white">
				<h1 style="font-weight: 700;">Find Your Best Suited Collages & Universities.</h2>
				<center>
					<div class="find-job-bx col-lg-8" >
			
            <form action="result" method="POST">
              {% csrf_token %}
              {{form}}
						<div class="row" >
						<div class="col-lg-12">
								<div class="form-group">
									<select name="select" id="ess">
                    <option value="base">Select an Option</option>
                    <option value="0">Check Engineering colleges</option>
                    <option value="1">Check Pharmacy colleges</option>
                    <option value="2">Check Architecture colleges</option>
                    <option value="3">Check M.B.B.S colleges</option>
                  </select>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
                  <div class="Div" id="eng" style="display: none;">
                    <select id="engg" name="E" style="text-align:center;">
                         <option value="11">Select an Option</option>
                         <option value="4" id="cc">Chemical Engineering</option>
                         <option value="5">Civil Engineering</option>
                         <option value="6">Computer Engineering</option>
                         <option value="7">Electrical Engineering</option>
                         <option value="8">Electronics and Communication Engineering</option>
                         <option value="9">IT</option>
                         <option value="10">Mechanical Engineering</option>
                    </select>
                  </div>
								</div>
							</div>
							<div class="col-lg-12" >
								<div class="form-group">


									<div class="iDiv" id="score1" style="display:none;">
									<label></label>
									<div class="input-group">
										<input type="text" class="form-control" name="jc1" id="jc1" placeholder="Enter JRE/CET score for Chemical">
										<div class="input-group-append">
										  <span class="input-group-text" ><i class="fa fa-search"></i></span>
										</div>
									</div>
									</div>


									
									<div class="iDiv" id="score2" style="display:none;">
										<label></label>
										<div class="input-group">
											<input type="text" class="form-control"  name="jc2" id="jc2"  placeholder="Enter JRE/CET score for Civil">
											<div class="input-group-append">
											  <span class="input-group-text"><i class="fa fa-search"></i></span>
											</div>
										</div>
										</div>

									
										<div class="iDiv" id="score3" style="display:none;">
											<label></label>
											<div class="input-group">
												<input type="text" class="form-control" name="jc3" id="jc3" placeholder="Enter JRE/CET score Computer">
												<div class="input-group-append">
												  <span class="input-group-text"><i class="fa fa-search"></i></span>
												</div>
											</div>
											</div>

										
									<div class="iDiv" id="score4" style="display:none;">
										<label></label>
										<div class="input-group">
											<input type="text" class="form-control" name="jc4" id="jc4"  placeholder="Enter JRE/CET score for Electrical">
											<div class="input-group-append">
											  <span class="input-group-text" ><i class="fa fa-search"></i></span>
											</div>
										</div>
										</div>

									
										<div class="iDiv" id="score5" style="display:none;">
											<label></label>
											<div class="input-group">
												<input type="text" class="form-control" name="jc5" id="jc5"  placeholder="Enter JRE/CET score for Electronics and Communication">
												<div class="input-group-append">
												  <span class="input-group-text"><i class="fa fa-search"></i></span>
												</div>
											</div>
											</div>

										
									<div class="iDiv" id="score6" style="display:none;">
										<label></label>
										<div class="input-group">
											<input type="text" class="form-control" name="jc6" id="jc6"  placeholder="Enter JRE/CET score for IT">
											<div class="input-group-append">
											  <span class="input-group-text"><i class="fa fa-search"></i></span>
											</div>
										</div>
										</div>

									
										<div class="iDiv" id="score7" style="display:none;">
											<label></label>
											<div class="input-group">
												<input type="text" class="form-control" name="jc7" id="jc7"  placeholder="Enter JRE/CET score for Mechanical">
												<div class="input-group-append">
												  <span class="input-group-text"><i class="fa fa-search"></i></span>
												</div>
											</div>
										</div>

									<div class="myDiv" id="score8">
									<label ></label>
									<div class="input-group">
										<input type="text" name="ct" id="ct" class="form-control"  placeholder="Enter MHCET score">
										<div class="input-group-append">
										  <span class="input-group-text"><i class="fa fa-search"></i></span>
										</div>
									</div>
									</div>

									<div class="myDiv" id="score9">
									<label ></label>
									<div class="input-group">
										<input type="text" class="form-control" name="nata" id="nata" placeholder="Enter NATA score">
										<div class="input-group-append">
										  <span class="input-group-text"><i class="fa fa-search"></i></span>
										</div>
                  </div>
									</div>


									<div class="myDiv" id="score00">
									<label > </label>
									<div class="input-group" >
										<input type="text" class="form-control" id="neet" name="neet"  placeholder="Enter NEET score">
										<div class="input-group-append">
										  <span class="input-group-text"><i class="fa fa-search"></i></span>
										</div>
									</div>
									</div>

								</div>
							</div>
						
							
							<div class="col-lg-12">
								<input type="submit" class="site-button whatsapp button btn-block" name="sb" value="Predict">
							</div>
						</form><br><br><br>
						</div>
					
				</div>
			</center>
			</div>
		</div>
	</div>
	<br><br>
	
  <div class="container">
	<div class="row">
    {% for i in clgs %}
		<div class="col-sm-12 col-md-6 col-lg-4 pb-4">
		<div class="card">
		<img src="{{i.college_img}}" style="  height:200px;width:400px;" class="card-img-top">
		<div class="card-body">
		  <h4 class="card-title"><b>{{i.college_name|truncatechars:35}}</b></h4> 
		  <p class="card-text text-muted h5"><b>Branch: {{i.college_course}}</b>
        <p class="card-text text-muted h5"><b>Fees: {{i.college_fees}}</b>
		  <p class="card-text text-muted h5"><b>Location:{{i.college_loc}}</b></p> 
		</div>
	  </div>
	  </div>
	  
	  {% endfor %}
	  </div>
  </div>
        </div>
			<!-- Footer -->
			<footer class="site-footer">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
								<div class="widget">
									<img src="/static/enroll/images/logo-white.png" width="180" class="m-b15" alt=""/>
									<p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the..</p>
									<div class="subscribe-form m-b20">
										<form class="dzSubscribe" action="http://job-board.w3itexperts.com/xhtml/script/mailchamp.php" method="post">
											<div class="dzSubscribeMsg"></div>
											<div class="input-group">
												<input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Id" type="email">
												<span class="input-group-btn">
													<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
												</span> 
											</div>
										</form>
									</div>
									<ul class="list-inline m-a0">
										<li><a href="#" class="site-button white facebook circle "><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="site-button white google-plus circle "><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#" class="site-button white linkedin circle "><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#" class="site-button white instagram circle "><i class="fa fa-instagram"></i></a></li>
										<li><a href="#" class="site-button white twitter circle "><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
								<div class="widget border-0">
									<h5 class="m-b30 text-white">Frequently Asked Questions</h5>
									<ul class="list-2 list-line">
										<li><a href="#">Privacy & Seurty</a></li>
										<li><a href="#">Terms of Serice</a></li>
										<li><a href="#">Communications</a></li>
										<li><a href="#">Referral Terms</a></li>
										<li><a href="#">Lending Licnses</a></li>
										<li><a href="#">Support</a></li>
										<li><a href="#">How It Works</a></li>
										<li><a href="#">For Employers</a></li>
										<li><a href="#">Underwriting</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Lending Licnses</a></li>
										<li><a href="#">Support</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
								<div class="widget border-0">
									<h5 class="m-b30 text-white">Find Jobs</h5>
									<ul class="list-2 w10 list-line">
										<li><a href="#">US Jobs</a></li>
										<li><a href="#">Canada Jobs</a></li>
										<li><a href="#">UK Jobs</a></li>
										<li><a href="#">Emplois en Fnce</a></li>
										<li><a href="#">Jobs in Deuts</a></li>
										<li><a href="#">Vacatures China</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- footer bottom part -->
				<div class="footer-bottom" style="bottom: 0%;">
					<div class="container">
					   <div class="row">
							<div class="col-lg-12 text-center"><span><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span></div>
						</div>
					</div>
				</div>
			</footer>
        {% endblock content %}
		{% block script %}
		
		
		
		<script type="text/javascript">
			$(document).ready(function(){
        $("#ess").change(function(){
            $( "select option:selected").each(function(){
                if($(this).attr("value")=="0"){
                    $(".myDiv").hide();
                    $("#eng").show();
                } 
                
                if($(this).attr("value")=="1"){
                    $(".myDiv").hide();
                    $("#eng").hide();
                    $(".Div").hide();
                    $(".iDiv").hide();                    
                    $("#score8").show();
                }
                if($(this).attr("value")=="2"){
                    $(".myDiv").hide();
                    $("#score9").show();
                    $("#eng").hide();
                    $(".iDiv").hide();                    
                    $(".Div").hide();                
                }
                if($(this).attr("value")=="3"){
                    $(".myDiv").hide();
                    $("#score00").show();
                    $("#eng").hide();
                    $(".iDiv").hide();                    
                    $(".Div").hide(); 
                } 
            });
        }).change();


    $('#eng').change(function(){
      $( "select option:selected").each(function(){
        if($(this).attr("value")=="4"){
                    $(".iDiv").hide();
                    $("#score1").show();
          }
        if($(this).attr("value")=="5"){
                    $(".iDiv").hide();
                    $("#score2").show();
          }
        if($(this).attr("value")=="6"){
                    $(".iDiv").hide();          
                    $("#score3").show();
          }
        if($(this).attr("value")=="7"){
                    $(".iDiv").hide();
                    $("#score4").show();
          }
        if($(this).attr("value")=="8"){
                    $(".iDiv").hide();
                    $("#score5").show();
          }
        if($(this).attr("value")=="9"){
                    $(".iDiv").hide();
                    $("#score6").show();
          }
        if($(this).attr("value")=="10"){
                    $(".iDiv").hide();
                    $("#score7").show();
          }
      });
    });
  });
			
			</script>
		{% endblock script %}